<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Peoples</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1>Academy a part of Academic Works conference room</h1>
<form Action="/rooms" id="rooms" method="post">
<select name="nochairs" form="rooms">
    <option value="" disabled="" selected="">Number of persons</option>
    <option value="4">Are you less then 4 people?</option>
    <option value="8">Are you between 5-8 people?</option>
    <option value="10">Are you more than 8 people?</option>
    <input type="submit" value="ok"/>
</select>
</form>
</body>
</html>
