<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>logout</title>
</head>
<body>
<h1>Academy a part of Academic Works conference room</h1>
<form action="login" method="post">
    <p>Du har blivit utloggad</p>
    <p>Logga in igen</p>
    <p>User:<input type="text" name="userid"/></p>
    <p>Password<input type="password" name="password"/></p>
    <input type="submit" value="Login"/>
</form>
<a href="/booking">Vidare till bokningen</a>
</body>
</html>